.signin-container {
  display: flex;
  flex-direction: column;
}
.user-signin-form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: auto;
}

.user-signin-button {
  padding: 15px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: lightgreen;
  border-radius: 15px;
  color: black;
  border: 3px solid white;
}
input {
  text-align: center;
}

.main-logo{
  margin: 20px auto;
  height:200px;
  width: 200px;
  border-radius: 200px;
  border: 5px solid white;
  background: linear-gradient(to right, limegreen 30%, rgb(35, 143, 35) 150%);
}